block head

doctype html
html(lang="uk")
    head
        meta(charset='utf-8')
        title #{title}
        meta(content="width=device-width, initial-scale=1" name="viewport")
        link(rel="shortcut icon" href="img/favicon.png" type="image/x-icon")
        link(rel='stylesheet', href='css/main.css')
        // Hotjar Tracking Code for https://www.favorit.com.ua/
        //script.
        //    (function (h, o, t, j, a, r) {
        //        h.hj = h.hj || function () {
        //            (h.hj.q = h.hj.q || []).push(arguments)
        //        };
        //        h._hjSettings = {hjid: 1999055, hjsv: 6};
        //        a = o.getElementsByTagName('head')[0];
        //        r = o.createElement('script');
        //        r.async = 1;
        //        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        //        a.appendChild(r);
        //    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    body
        block content
        script(src='js/main.js')