.fav-page
  a(href="https://www.favbet.com/uk/short-register/").main-link
  .bonus
    .bonus__logo
      img(src="img/logo.svg" alt="Favbet")
    .bonus__info
      .bonus__info-title
        p Розслабся
        p з бонусом  #[span 4 500 #[span ₴] ]
      ul.bonus__info-amount
        li.bonus__info-amount-item
          p 500₴
          p ставка #[br] без ризику
        li.bonus__info-amount-item
          p 4 000₴
          p на перший депозит
      a(href="https://www.favbet.com/uk/short-register/").bonus__info-btn Забирай бонус
    picture.bonus__monkey
      source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/monkey-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/monkey-landscapeMob.png")
      source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/monkey-tab.png")
      source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/monkey.png")
      img(src="img/monkey.png" alt="Favbet")
    .bonus__card1.fly
    .bonus__card2.fly
    .bonus__card3.fly
    .bonus__card4.fly
    .bonus__chip1.fly
    .bonus__chip2.fly
    .bonus__chip3.fly
    .bonus__chip4.fly
    .bonus__chip5.fly
    .bonus__chip6.fly
    .bonus__footer
      .bonus__footer-left
        p Граємо!#[br] Допомогаємо!
        p Частина від#[br] прибутку на ЗСУ
      .bonus__footer-right
        .bonus__footer-right-icon
        .bonus__footer-right-icon
        .bonus__footer-right-icon
        .bonus__footer-right-icon
        .bonus__footer-right-icon
        .wrap
          a(href="https://apps.apple.com/ua/app/favorit-sport-sport-betting/id1076305677" target="_blank").bonus__footer-right-app
          a(href="https://favbet.com/minio/android-files/version3/Favbet.apk" target="_blank").bonus__footer-right-app
    .bonus__legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ
  .bg